In [1]:
import pandas as pd
import os

In [26]:
table=pd.read_csv('./PL_data/9394.csv')
table=pd.read_csv('./PL_data/9495.csv')
table=pd.read_csv('./PL_data/9596.csv')
table=pd.read_csv('./PL_data/9697.csv')
table=pd.read_csv('./PL_data/9798.csv')
table=pd.read_csv('./PL_data/9899.csv')
table=pd.read_csv('./PL_data/9900.csv')
table=pd.read_csv('./PL_data/0001.csv')
table.head()
# see NOtes.txt for abb

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,IWA,LBH,LBD,LBA,SBH,SBD,SBA,WHH,WHD,WHA
0,E0,19/08/00,Charlton,Man City,4,0,H,2,0,H,...,2.7,2.20,3.25,2.75,2.20,3.25,2.88,2.10,3.2,3.10
1,E0,19/08/00,Chelsea,West Ham,4,2,H,1,0,H,...,4.2,1.50,3.40,6.00,1.50,3.60,6.00,1.44,3.6,6.50
2,E0,19/08/00,Coventry,Middlesbrough,1,3,A,1,1,D,...,2.7,2.25,3.20,2.75,2.30,3.20,2.75,2.30,3.2,2.62
3,E0,19/08/00,Derby,Southampton,2,2,D,1,2,A,...,3.5,2.20,3.25,2.75,2.05,3.20,3.20,2.00,3.2,3.20
4,E0,19/08/00,Leeds,Everton,2,0,H,2,0,H,...,4.5,1.55,3.50,5.00,1.57,3.60,5.00,1.61,3.5,4.50

#### so based on data we saw , from 93 - 99 year league , large abount of column is missing so we simply dont inlcude in main dataframe

In [32]:

# removing 90s data
for files in os.listdir('PL_data'):
    if files.startswith('9'):
        os.remove(os.path.join('PL_data',files))

In [36]:
def concat_df():
    # Directory containing the CSV files
    csv_directory = 'PL_data'

    # List all CSV files in the directory
    csv_files = [f for f in os.listdir(csv_directory) if f.endswith('.csv')]

    # List to hold all DataFrames
    df_list = []

    # Read each CSV file and append it to the list
    for csv_file in csv_files:
        file_path = os.path.join(csv_directory, csv_file)
        try:
            print(f"Reading {csv_file} with UTF-8 encoding.")
            df = pd.read_csv(file_path, encoding='utf-8', on_bad_lines='skip')
            df_list.append(df)
        except UnicodeDecodeError:
            try:
                print(f"UTF-8 failed. Reading {csv_file} with ISO-8859-1 encoding.")
                df = pd.read_csv(file_path, encoding='ISO-8859-1', on_bad_lines='skip')
                df_list.append(df)
            except UnicodeDecodeError:
                print(f"Error decoding {csv_file}: Unable to decode file with UTF-8 or ISO-8859-1 encoding.")

    return df_list

# Concatenate all DataFrames into a single DataFrame
df_list = concat_df()
df_combined = pd.concat(df_list, ignore_index=True)

# Save the combined DataFrame to a new CSV file
df_combined.to_csv('combined_data.csv', index=False)

print('All CSV files have been appended into a single file.')

Reading 0001.csv with UTF-8 encoding.
Reading 0102.csv with UTF-8 encoding.
Reading 0203.csv with UTF-8 encoding.
Reading 0304.csv with UTF-8 encoding.
Reading 0405.csv with UTF-8 encoding.
Reading 0506.csv with UTF-8 encoding.
Reading 0607.csv with UTF-8 encoding.
Reading 0708.csv with UTF-8 encoding.
Reading 0809.csv with UTF-8 encoding.
Reading 0910.csv with UTF-8 encoding.
Reading 1011.csv with UTF-8 encoding.
Reading 1112.csv with UTF-8 encoding.
Reading 1213.csv with UTF-8 encoding.
Reading 1314.csv with UTF-8 encoding.
Reading 1415.csv with UTF-8 encoding.
Reading 1516.csv with UTF-8 encoding.
Reading 1617.csv with UTF-8 encoding.
Reading 1718.csv with UTF-8 encoding.
Reading 1819.csv with UTF-8 encoding.
Reading 1920.csv with UTF-8 encoding.
Reading 2021.csv with UTF-8 encoding.
Reading 2122.csv with UTF-8 encoding.
Reading 2223.csv with UTF-8 encoding.
Reading 2324.csv with UTF-8 encoding.
All CSV files have been appended into a single file.

In [39]:
final_csv=pd.read_csv('combined_data.csv')

C:\Users\ibarb\AppData\Local\Temp\ipykernel_5008\1658540676.py:1: DtypeWarning: Columns (108) have mixed types. Specify dtype option on import or set low_memory=False.
  final_csv=pd.read_csv('combined_data.csv')

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
7000,E0,04/02/2019,West Ham,Liverpool,1.0,1.0,D,1.0,1.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7001,E0,06/02/2019,Everton,Man City,0.0,2.0,A,0.0,1.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7002,E0,09/02/2019,Brighton,Burnley,1.0,3.0,A,0.0,1.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7003,E0,09/02/2019,Crystal Palace,West Ham,1.0,1.0,D,0.0,1.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7004,E0,09/02/2019,Fulham,Man United,0.0,3.0,A,0.0,2.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#### AS we can see that the maximum betting odds  have none value , we should drop them